{% extends 'base.html' %}
{% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='hbg.jpg') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>WELCOME</h1>
              <span class="subheading">To VBLOG , A Place to share your content</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}
          <div class="post-preview">
            <a href="{{ url_for('post', post_id=post[0]) }}">
              <h2 class="post-title">
                {{ post[2] }}
              </h2>
              <h3 class="post-subtitle">
                {{ post[3] }}
              </h3>
            </a>
            <p class="post-meta">Posted by {{ post[1] }} on {{ post[5]}} </p>
          </div>
          {% endfor %}
          <hr>
        </div>
      </div>
    </div>
    <hr>

{% endblock %}


